/* line 3, ../sass/base.scss */
.shadow {
  -moz-box-shadow: #000 5px 5px 5px;
  -webkit-box-shadow: #000 5px 5px 5px;
  box-shadow: #000 5px 5px 5px;
}

/*  general bg color */
/* line 10, ../sass/base.scss */
body {
  background: #333;
}
